<!DOCTYPE html>
<html>
   <head>
      <title>EJSDemo</title>
      <!--Stylesheet is in public directory but have told Express to look for stylesheets and javascript in public directory-->
      <link rel="stylesheet" href="/app.css">
   </head>

   <body>